<html>

<head>

<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href="/stylesheets/github.css" rel="stylesheet" type="text/css">

<link href="/stylesheets/color_picker.css" rel="stylesheet" type="text/css">
<script src="/javascripts/color_picker.js"></script>

</head>
<body>

<div id="main_container">
<header>
<img src="/images/logo.svg" />
</header>
<section class="line">
    <img src="/images/shell.svg" />
</section>
<article>
<%- content %>
</article>
</div>  
</body>
</html>