<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/github.css">
    </head>
</head>
<body>
<form method="POST" action="/code">
    
    <textarea name="code"></textarea>
    <input type="submit"></input>
</form>
</body>
    
</html>